*
{
    margin: 0;
    padding: 0;
    font-size: 1em; 
    font-family: Arial;
}

header
{
    background-color: white;
}

body
{
    background-color=white;
}

#mainMenu .dropbtn {
    color: #000;
    background-color:#f2f2f2;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    float: right;
    position: relative;
}

#mainMenu {
    display: inline-block;
    width: 100%;
}




/*-----------MAIN-NAV--------------*/


.main-nav {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;    /* Block elements take up the ful width of page by default  */
    z-index: 1;
}

/*object:hover runs the block below when the mouse hovers the object*/
.main-nav a {
    color: black;
    padding: 8px 16px; 
    text-decoration: none;
    display: block;
}

.main-nav a.active {
    background-color: #bfbfbf; 
    color: #000;
}

.main-nav a:hover:not(.active) {
    background-color: #bfbfbf;
    color: #000;
}

.main-nav .dropbtn:hover {
    background-color: #bfbfbf;
}


.show {
    display: inline-block;
}
